.resultContainer--container{
  display:grid;
  grid-gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.clickOnDailyMsg{
  grid-column: 1 / span 2;
}


@media (min-width: 800px){
  .resultContainer--container{
    grid-template-columns: repeat(2, 1fr);
    max-width: 1300px;
    margin: 0 auto;
  }
}
