
.navbar--content{
  align-items: center;
  color: #FFF;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  padding:.5rem;
  user-select: none;
}

.navbar--item{
  display: grid;
  grid-template-rows: auto fit-content(30%);
  grid-row-gap: 0.5rem;
  justify-items: center;
  cursor: pointer;
  color: #FFF;
  text-decoration: none;
}

.navbar--item:hover{
  color: #c748bb;
}
.navbar--item-active {
  color: #48c5c7;
}

@media (min-width: 1000px){

  .navbar--content{
    grid-row-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }


}
